# Invisible files
.*

# venv
venv

# JS
node_modules
package-lock.json

# DB files
*.db
*.csv
*.json
!data/raw/exchange_symbol_map.json

# Cache file
*.pyc

# log files
*.log

# Configs
dash_app/config.py